.roller {
	position: relative;
	overflow: hidden;
	cursor: ns-resize;
	touch-action: none;
	user-select: none;
}

.roller-container {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
}

.roller-item {
	position: absolute;
	left: 0;
	right: 0;
	height: 100%;
}
