body {
	margin: 0;
	background-color: hsl(0, 0%, 95%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .5);
	border: 1px solid black;
	background-color: hsl(240, 10%, 50%);
	border-radius: 4px;
	margin: 10px;
	padding: 10px;
}

.top-content {
	display: flex;
	flex-wrap: wrap;
}

.oscilloscope {
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .5);
	border-radius: 4px;
	height: 100px;
}

.editor {
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .5);
	border-radius: 4px;
	margin-left: 10px;
	background-color: hsl(240, 30%, 80%);
	overflow: hidden;
}

.top-bar {
	display: flex;
}

.waveform {
	border-radius: 4px;
}

.osc {
	display: flex;
	justify-content: space-between;
}

.bottom-content {
	margin-top: 10px;
}

.keyboard {
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .5);
	border-radius: 4px;
	background-color: hsl(240, 30%, 80%);
	touch-action: none;
	overflow: auto;
}

.key-row {
	position: relative;
	margin: 10px;
	cursor: default;
	user-select: none;
}

.white-key {
	display: inline-block;
	position: relative;
	border: 1px solid black;
	border-radius: 0 0 4px 4px;
	width: 40px;
	height: 80px;
	background-color: white;
	color: black;
	z-index: 0;
}

.white-key:hover {
	background-color: hsl(240, 30%, 95%);
	cursor: pointer;
}

.white-key.pressed {
	background-color: hsl(0, 0%, 90%);
}

.white-key div {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.black-key {
	display: inline-block;
	position: absolute;
	top: 0;
	border: 1px solid black;
	border-radius: 0 0 4px 4px;
	width: 20px;
	height: 40px;
	background-color: black;
	color: white;
	transform: translateX(-10px);
	z-index: 1;
}

.black-key:hover {
	background-color: hsl(240, 30%, 30%);
	cursor: pointer;
}

.black-key.pressed {
	background-color: hsl(0, 0%, 30%);
}

.black-key div {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
